# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/GUI1.PNG
/GUI7.PNG
/GUI6.PNG
/GUI8.PNG
/GUI9.PNG
/GUI4.PNG
/GUI2.PNG
/GUI5.PNG
/GUI3.PNG
/GUI.spec
